<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="Bieren" connectionString="server=pc24709\sqlexpress;database=bieren;integrated security=true; max pool size=50;min pool size=5"
           providerName="System.Data.SqlClient"/>
      <!--<add name="Bieren" connectionString="provider=Microsoft.ACE.OLEDB.12.0: data source=c:\oefen\bieren.mdb; ole db services=-1"
           providerName="System.Data.OleDb"/>-->
    <add name="Bank" connectionString="server=pc24709\sqlexpress;database=Bank;integrated security=true"
           providerName="System.Data.SqlClient"/>
      <!--<add name="Bank" connectionString="provider=Microsoft.ACE.OLEDB.12.0: data source=c:\oefen\Bank.mdb"
           providerName="System.Data.OleDb"/>-->
      <add name="Bank2" connectionString="server=pc24709\sqlexpress;database=Bank2;integrated security=true"
           providerName="System.Data.SqlClient"/>
      <!--<add name="Bank2" connectionString="provider=Microsoft.ACE.OLEDB.12.0: data source=c:\oefen\Bank2.mdb"
           providerName="System.Data.OleDb"/>-->
    <add name="Strips" connectionString="server=pc24709\sqlexpress;database=Strips;integrated security=true"
           providerName="System.Data.SqlClient"/>
      <!--<add name="Strips" connectionString="provider=Microsoft.ACE.OLEDB.12.0: data source=c:\oefen\Strips.mdb"
           providerName="System.Data.OleDb"/>-->
    </connectionStrings>
</configuration>