<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="videoAdo" connectionString="server=.\sqlexpress;database=videoAdo;integrated security=true"
         providerName="System.Data.SqlClient"></add>
    <!--<add name="videoAdo" connectionString="provider=Microsoft.ACE.OLEDB.12.0:data source=c:\oefen\videoAdo.mdb"
         providerName="System.Data.OleDb"></add>-->
    </connectionStrings>
</configuration>